body {
    font-family: 'Quicksand', sans-serif;
    background: url('../images/main_bg1.jpg')no-repeat;
}

h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

hr {
    height: 1px;
    background: rgba(198, 39, 44,0.6);
    background: rgba(255, 255, 255,0.2);
    width: 60%;
    margin: 25px auto;
    border: none;
    
}

.main-cont {
    margin: 0;
}

.top-logo {
    width: 128px;
    height: 139px;
    margin: 0 auto;
    padding-top: 25px;
}

.account-access {
    width: 70%;
    margin: 0 auto;
    margin-top: 15%;
    border-radius: 10px;
    padding: 25px;
    margin-left: 250px;
}

.login {
    margin: 0 auto;
    
}

.login > * {
        width: 85%;
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 15px;
        margin: 5px auto;
        font-weight: bold;
}

input::placeholder {
    font-weight: 400;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
}


@media only screen 
and (min-width : 320px) 
and (max-width : 1024px) { 

    body {
        font-family: 'Quicksand', sans-serif;
        background: url('../images/main_bg1.jpg')no-repeat top center;
    }

    .main-cont {
        width: 100%;
    }

    .account-access {
        width: 100%;
        margin: 0 auto;
        margin-top: 0;
        border-radius: 10px;
        padding: 0;
        margin-left: 0;
    }

}
